@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  background-color: #ebebeb;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

#desktopNav {
  display: none;
}

#aboutDesktopBackground {
  display: none;
}

main {
  margin-top: 75px;
}

header {
  background-color: #e6e6e6;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

.profilePicDesktop {
  display: none;
}

h1,
h2 {
  margin-left: 10px;
  color: #3e3e3e;
}

.logo {
  max-height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.container {
  display: block;
  cursor: pointer;
  margin-right: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

a {
  text-decoration: none;
  color: #333;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.casesPic {
  width: 95vw;
}

#dropdownMenu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: #e6e6e6;
  font-size: 1.5em;
  animation: fadeIn 0.2s linear forwards;
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: 150px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

#backdrop {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url(img/backdrop.png);
  animation-name: move;
  animation-duration: 250s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: static;
  margin-top: 100px;
  opacity: 50%;
}

@keyframes move {
  0%,
  100% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
}

#scroll {
  width: 40px;
  height: 80px;
  border: 2px solid #707070;
  border-radius: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#scroll:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(255, 136, 0);
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: 60px;
    transform: scale(0.8);
  }
}

#about {
  background-color: #e6e6e6;
  text-align: center;
  padding-top: 1px;
  margin-top: 20vh;
  padding-left: 10px;
  padding-right: 10px;
  scroll-margin: 55px;
}

.viewCase {
  background-color: #e6e6e6;
  padding-left: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.flexLeftContainer {
  display: flex;
}

.bulletpoint {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 136, 0);;
  transform: rotate(45deg);
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 5px;
}

.caseText {
  margin-left: 30px;
  margin-top: 0;
}

.left {
  margin-left: 20px;
}

.aboutExtra {
  display: flex;
  justify-content: space-around;
}

h3 {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin-left: 10px;
  margin-right: 10px;
}

h3 span {
  background: #e6e6e6;
  padding: 0px 10px;
  font-weight: 500;
  font-size: 1.5em;
}

h4 {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 0;
  padding-bottom: 5px;
}

h5 {
  font-weight: 400;
  font-size: 1.1em;
  margin: 0px;
  padding-bottom: 5px;
}

.profilePic {
  max-width: 80px;
  margin-top: 20px;
  margin-top: 20px;
  transform: rotate(45deg);
  border: rgb(255, 136, 0);
  border-style: solid;
  border-width: 2px;
  padding: 3px;
}

#CV {
  font-weight: 700;
  font-size: 1.3em;
  padding-bottom: 20px;
  cursor: pointer;
  margin-top: 30px;
}

#cases {
  text-align: center;
  background-color: #e6e6e6;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  scroll-margin: 55px;
}

.casesThumbnails {
  width: 95vw;
  display: block;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left {
  padding-left: 10px;
}

.container2 {
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.25); /* Black see-through */
  border: rgb(255, 255, 255);
  border-style: solid;
  color: #ffffff;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

.overlay:hover {
  color: rgb(255, 136, 0);
  transition: 0.3s;
}

.overlay2 {
  position: absolute;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #ffffff;
  font-size: 7vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 5.5vw;
  margin-bottom: 18vw;
  display: none;
}

.bottom {
  margin-bottom: 100px;
}

.casesFlex {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
}

#contact {
  padding-top: 20px;
  background-color: #e6e6e6;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
  scroll-margin: 55px;
}

.someLogo {
  max-width: 30px;
  margin-top: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  body {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #navContainer {
    display: none;
  }

  #desktopNav {
    display: flex;
    margin-right: 5%;
    font-size: 1.3em;
  }

  header {
    height: 100px;
  }

  .logo {
    margin-left: 5%;
  }

  a {
    margin-left: 30px;
    display: inline-block;
    position: relative;
  }

  a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 136, 0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #aboutDesktop, #contact, #cases {
    scroll-margin: 110px;
  }

  #aboutDesktop {
    display: grid;
    gap: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 50px;
    scroll-margin: 180px;
    padding-bottom: 50px;
    grid-template-areas: 
    "pic fil fil fil . ."
    "nap cos ado . . ."
    ;
  }

  #pictureFrame {
    display: flex;
    grid-area: pic;
    width: auto;
    height: auto;
    margin: auto;
  }

  #nameAndPlace {
    display: flex;
    grid-area: nap;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #fillText {
    display: flex;
    grid-area: fil;
    width: auto;
  }

  #codingSkills {
    display: flex;
    grid-area: cos;
    width: auto;
  }

  #adobePrograms {
    display: flex;
    grid-area: ado;
    width: auto;
  }

  #watchCv {
    display: flex;
    grid-area: wcv;
    width: auto;
  }

  #about {
    display: none;
  }

  #aboutDesktopBackground {
    display: block;
    background-color: #e6e6e6;
    padding-top: 1px;
    margin-top: 20vh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .profilePicDesktop {
    max-width: 200px;
    max-height: 200px;
    border: rgb(255, 136, 0);
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    display: block;
  }

  .container2, .casesPic {
    max-width: 300px;
  }

  .casesFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
  }

  #cases, #contact {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    text-align: center;
  }
  
  .viewCase {
    background-color: #e6e6e6;
    margin-top: 110px;
    padding-left: 0%;
  }

  .casesThumbnails {
    width: 40vw;
    height: 100%;
    min-width: 400px;
  }

  .flex {
    display: flex;
  }

  .caseTitle {
    font-size: 2em;
  }

  .flexLeftContainer {
    margin-top: 20px;
    align-items: center;
  }

  .caseText {
    font-size: 1.1em;
  }

  .bulletpoint {
    margin-bottom: 10px;
    margin-left: 30px;
  }
}
